---
layout: page
title: Blog
tags :
author : Antonio Trento
css:
js:
keywords:
img:
image: assets/images/growogether-social.png
---
<!-- Shards --><img src="{{ site.url }}{{ site.baseurl }}/assets/images/plant.png" alt="Shard" class="shard">
<!-- Welcome Section -->
<div class="welcome d-flex justify-content-center flex-column">
    <div class="inner-wrapper mt-auto mb-auto">
        <h1 class="slide-in">Blog</h1>
        <br />
        <p class="slide-in">Tutte le storie dai lettori di Growogether che sono riusciti a creare il loro business su web.</p>
        <div class="action-links slide-in"><a href=mailto:lantoniotrento@gmail.com class="btn btn-yellow btn-pill align-self-center mr-2"><i class="fa fa-comments-o mr-1"></i>Racconta la tua</a> <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-green btn-pill align-self-center">Tutti i post</a></div>
    </div>
</div>
<!-- Page Content -->
<div id = "introduction" class="page-content">
    <!-- Content -->
    <div class="content clearfix">
        <!-- Cards -->
        <div id="cards" class="container mb-2" style="padding-bottom: 1px">
            <div class="example col-md-12 ml-auto mr-auto">
                <div class="row">
                  {% for post in site.posts %}
                    <div class="col-md-12 col-lg-4">
                        <div style="margin-top:2em" class="card">{% if post.img %}<img class="card-img-top ll-image" data-img-src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ post.img }}" alt="{{ post.title }} image missing">{% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <p class="card-text">{{ post.excerpt }}</p><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="btn btn-green">Leggi</a></div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
      </div>
</div>
