<div class="side-bar sticky-top" style="padding-top:90px">
  <div class="card">
    <div class="card-block">
      <div style="padding-top: 1em; padding-bottom:1em">
      {% include JB/ads-block.html %}</div>
    </div>
  </div>
<br /><br />
<div class="card">
  <div class="card-block">
    <div class="card-body">
    <p>Chiedi aiuto alla nostra community per tutti i tuoi dubbi sul business su web </p>
    <a href="https://spectrum.chat/growogether" class="btn btn-yellow align-self-center mr-2"><i class="fa fa-comments-o mr-1"></i>Community</a></div>
  </div>
</div>
<br /><br />
  <div class="hidden-sm-down card">
    <div class="card-block">
      <div style="padding-left:1em; padding-right:1em;">
     {% include social-share.html %}</div>
    </div>
  </div>
</div>
