<footer class="main-footer py-5">
    <p class="text-muted text-center small p-0 mb-4">&copy; Copyright 2017 🇮🇹 <a href="https://lantoniotrento.github.io" target="_blank">Antonio Trento</a> - UI Kit by <a href="https://designrevision.com" rel="nofollow">designrevision</a> - Image by <a href="https://freepik.com" rel="nofollow">freepik</a> - Branding logo <a target="_blank" href="https://www.flaticon.com/free-icon/plant_128743">flaticon</a></p>
    <div class="social d-table ml-auto mr-auto"><a class="twitter mx-3 h4" href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter"></i> <span class="sr-only">View our Twitter Profile</span> </a><a class="twitter mx-3 h4" href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i> <span class="sr-only">Connect with me on LinkedIn</span> </a><a class="facebook mx-3 h4" href="https://www.facebook.com/{{ site.author.facebook }}" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">View our Facebook Profile <span></span></span></a> <a class="github mx-3 h4" href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fa fa-github"></i> <span class="sr-only">View our GitHub Profile</span></a></div>

    <div class="row">
      <div class="col-md-4">
        <a style="font-weight: 600;" class="navbar-brand mr-5" href="{{ site.url }}">
          <img src="{{ site.url }}/{{ site.baseurl }}assets/images/plant-32.png" class="mr-2" alt="Growogether - Cresciamo e facciamo business insieme">
          {{site.title}}
        </a> by <a href="https://twitter.com/lantoniotrento?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-size="default" data-show-screen-name="lantoniotrento">@lantoniotrento</a>
      </div>
      <div class="col-md-4">col-sm-4</div>
      <div class="col-md-4">
        <div class="fb-like" data-href="https://www.facebook.com/lantoniotrento" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
        <a class="twitter-share-button" href="https://twitter.com/share" data-size="large" data-text="Growogether, creiamo il nostro business su web e cresciamo insieme a dismisura." data-url="https://growogether.github.io" data-hashtags="business,coworking,networking" data-via="lantoniotrento">Tweet </a>
      </div>
    </div>
</footer>


<!-- Social share e follow bottoni classici
<div class="fb-like" data-href="https://www.facebook.com/lantoniotrento" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
<div class="fb-share-button" data-href="https://jorigamy.github.io" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdesignrevision.com%2Fdownload%2Fshards&amp;src=sdkpreparse">Share</a></div><a href="https://twitter.com/lantoniotrento?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow</a> <a class="twitter-share-button" href="https://twitter.com/share" data-size="large" data-text="I'm in love with Shardaz, a free Jekyll theme by @lantoniotrento" data-url="https://jorigamy.github.io" data-hashtags="jekyll,ui,design,web,bootstrap" data-via="AntonioTrento">Tweet </a>
-->
